.logo {
  width: 202.81px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 67px;
  margin-top: 44px;
}
.link {
  display: flex;
}
.form {
  width: 570px;
  height: 457px;
  background: #ffffff;
  border: 1px solid #ababab;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  font-weight: bold;
}
.content {
  display: flex;
  justify-content: center;
}
.base {
  text-align: center;
}
